<!DOCTYPE html>
<!--Renan da Silva Santos 20/10/2014-->
<html>
    <head>
        <title>Layout Adaptavel e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css" type="text/css">
    </head>
    <body>
        <h1>Layout "Adaptavel" e "Responsivo"</h1>
        <h2>Utilizando Css Media Queries</h2>

        <header>
            <p id="medidas">
                Largura:<span id="largura"></span>
                Altura:<span id="altura"></span>
            </p>
            <p class="horizontal">Modo paisagem</p>
            <p class="vertical">Modo Retrato</p>
            <script src="js/medidas.js"></script>
        </header>
    </body>
</html>
