<!DOCTYPE html>
<!--Renan da Silva Santos 20/10/2014-->
<html>
    <head>
        <title>Layout Adaptavel e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css" type="text/css">
    </head>
    <body>
        <h1>Layout "Adaptavel" e "Responsivo"</h1>
        <h2>Utilizando Css Media Queries</h2>

        <header>
            <p id="medidas">
                Largura:<span id="largura"></span>
                Altura:<span id="altura"></span>
            </p>
            <p class="horizontal">Modo paisagem</p>
            <p class="vertical">Modo Retrato</p>
            <script src="js/medidas.js"></script>
        </header>

        <section>
            <h1>Eleições 2014</h1>
            <h2>Situação</h2>
            
            <figure>
                <img src="img/dilma/dilma01.jpg" alt="Dilma01"/>
                <figcaption><a href="img/dilma/dilma01.jpg" target="_blank">Dilma01</a></figcaption>
            </figure>       
            
            <figure>
                <img src="img/dilma/dilma02.jpg" alt="Dilma02"/>
                <figcaption><a href="img/dilma/dilma02.jpg" target="_blank">Dilmao02</a></figcaption>
            </figure>
            
            <figure>
                <img src="img/dilma/dilma03.jpg" alt="Dilma03"/>
                <figcaption><a href="img/dilma/dilma03.jpg" target="_blank">Dilmao03</a></figcaption>
            </figure>
            
            <figure>
                <img src="img/dilma/dilma04.jpg" alt="Dilma04"/>
                <figcaption><a href="img/dilma/dilma04.jpg" target="_blank">Dilmao04</a></figcaption>
            </figure>       
            
            <figure>
                    <img src="img/dilma/dilma05.jpg" alt="Dilma05"/>
                <figcaption><a href="img/dilma/dilma05.jpg" target="_blank">Dilmao5</a></figcaption>
            </figure>
            
            <figure>
                <img src="img/dilma/dilma06.jpg" alt="Dilma06"/>
                <figcaption><a href="img/dilma/dilma06.jpg" target="_blank">Dilmao6</a></figcaption>
            </figure>
            
            <h2 class="final">Oposiçao</h2>
            
            <figure>
                <img src="img/aecio/aecio01.jpg" alt="Aecio1"/>
                <figcaption><a href="img/aecio/aecio01.jpg" target="_blank">Aecio1</a></figcaption>
            </figure>       
            
            <figure>
                <img src="img/aecio/aecio02.jpg" alt="Aecio2"/>
                <figcaption><a href="img/aecio/aecio02.jpg" target="_blank">Aecio2</a></figcaption>
            </figure>
            
            <figure>
                <img src="img/aecio/aecio03.jpg" alt="Aecio3"/>
                <figcaption><a href="img/aecio/aecio03.jpg" target="_blank">Aecio3</a></figcaption>
            </figure>
            
            <figure>
                <img src="img/aecio/aecio04.jpg" alt="Aecio4"/>
                <figcaption><a href="img/aecio/aecio04.jpg" target="_blank">Aecio4</a></figcaption>
            </figure>       
            
            <figure>
                <img src="img/aecio/aecio05.jpg" alt="Aecio5"/>
                <figcaption><a href="img/aecio/aecio05.jpg" target="_blank">Aecio5</a></figcaption>
            </figure>
            
            <figure>
                <img src="img/aecio/aecio06.jpg" alt="Aecio6"/>
                <figcaption><a href="img/aecio/aecio06.jpg" target="_blank">Aecio6</a></figcaption>
            </figure>
            
            
            <br class="final"/>
            
        </section>


    </body>
</html>
